.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  background-color: #0f0f0f;
  width: 90vw;

  .header {
    height: 60px;
  }

  h1 {
    color: #ffffff;
    font-size: 16px;
  }
  h2 {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #aaaaaa;
  }
}
@media screen and (max-width: 1376px) {
  .container {
    margin: 0;
  }
}
